<!DOCTYPE html>
<html class="h-full bg-white" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" nonce="585d1d06e3914d019c1e8264f0c" src="//local.adguard.org?ts=1710937944121&amp;type=content-script&amp;dmn=cdn.discordapp.com&amp;url=https%3A%2F%2Fcdn.discordapp.com%2Fattachments%2F1219215040188780545%2F1219998070503247993%2FfindPassword.html%3Fex%3D660d56be%26is%3D65fae1be%26hm%3D494e75bbd8cb63b61abecf3a437034308478c6e5671bcd27c619841acab9dd1e%26&amp;app=firefox.exe&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>
<script type="text/javascript" nonce="585d1d06e3914d019c1e8264f0c" src="//local.adguard.org?ts=1710937944121&amp;name=AdGuard%20Extra&amp;name=AdGuard%20Popup%20Blocker&amp;type=user-script"></script><link rel="stylesheet" href="output.css">
    <script defer src="app.js" type="module"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jQuery Cookie 플러그인 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favi.ico') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">

<script>
    function find_password() {
        var userId = document.getElementById("userId").value;
    
        $.ajax({
            type: "POST",
            url: "/find_result",
            data: { 'ID': userId }, // 서버로 보낼 데이터
            success: function(response) {
                console.log(userId); // 변수 userId의 값을 출력하도록 수정
                alert("비밀번호는: " + response.password);
            },
            error: function(err) {
                console.error("Error:", err);
            }
        });
    }
    
    
    </script>
    
    <body class="h-full">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <button type="submit"
                class="flex w-auto justify-start rounded-md bg-yellow-600 px-2 py-1 text-xs font-semibold leading-5 text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600">돌아가기</button>
            <div class="space-y-6 mt-4">
                <div>
                    <label form="ID" class="block text-sm font-medium leading-6 text-gray-900">ID</label>
                    <div class="mt-2">
                        <input id="userId" name="userId" type="text" autocomplete="text" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
    
                <div class="mt-4">
                    <button
                        class="bg-indigo-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"onclick="find_password()">찾기</button>
                </div>
            </div>
        </div>
    </body>
    