<!DOCTYPE html>
<html class="h-full bg-white" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잼톡</title>
    <script defer type="module" src="{{ url_for('static', filename='js/app.js' ) }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
</head>

<body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h3 class="mt-10 text-center text-2xl font-semibold tracking-tight text-gray-700 font-custom">내가 고르는 재밌는
                이야기</h3>
            <h1 class="mt-4 text-center text-7xl font-bold leading-9 tracking-tight text-gray-900 font-custom">잼톡</h1>
            <img class="mx-auto w-36 mt-4 rounded-full" src="data:image/png;base64,{{ storydata.img_src }}"
                alt="existingPics">
            <p class="mt-4 text-center text-gray-500 mt-4">{{ storydata.text }}</p>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="space-y-6" method="POST">
                <div>
                    <label for="text" class="block text-sm font-medium leading-6 text-gray-900">ID</label>
                    <div class="mt-2">
                        <input id="userId" name="userId" type="text" autocomplete="text" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">비밀번호</label>

                    </div>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="current-password" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button id="loginBtn" type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">시작하기</button>
                </div>
            </div>

            <div class="flex justify-between text-sm mt-3">
                <a href="/findPassword" class="font-semibold text-gray-700 hover:text-gray-400">비밀번호 찾기</a>
                <a href="/signup" class="font-semibold text-indigo-600 hover:text-indigo-500">새로 등록</a>
            </div>
        </div>
    </div>
</body>

</html>