<!DOCTYPE html>
<html class="h-full bg-white" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진을 골라주세요</title>
    <script type="text/javascript" nonce="585d1d06e3914d019c1e8264f0c" src="//local.adguard.org?ts=1710915495746&amp;type=content-script&amp;dmn=cdn.discordapp.com&amp;url=https%3A%2F%2Fcdn.discordapp.com%2Fattachments%2F1219215040188780545%2F1219893490704453642%2FuploadStory.html%3Fex%3D660cf558%26is%3D65fa8058%26hm%3Df5295d818b7f514b20565bcad22318add98f195cf35a4df399e2f5aafbaeb579%26&amp;app=firefox.exe&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>
<script type="text/javascript" nonce="585d1d06e3914d019c1e8264f0c" src="//local.adguard.org?ts=1710915495746&amp;name=AdGuard%20Extra&amp;name=AdGuard%20Popup%20Blocker&amp;type=user-script"></script><link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="output.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jQuery Cookie 플러그인 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="app.js" type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#fileInput').change(function (e) {
                alert("사진올라갔다!!")
                var file = e.target.files[0]; // 사용자가 선택한 파일
                var formData = new FormData();
                formData.append('file', file); // 'file'은 서버에서 파일을 참조하는 키

                // var token = $.cookie('mytoken');

                $.ajax({
                    url: '/uploadPhoto', // 서버의 엔드포인트 URL
                    type: 'POST',
                    data: formData,
                    processData: false,  // $.ajax가 데이터를 처리하지 않도록 설정
                    contentType: false,  // 콘텐트 타입 헤더를 설정하지 않도록 설정
                    beforeSend: function (xhr) {
                        // 요청을 보내기 전에 헤더에 인증 토큰 추가
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        console.log(data)
                    },
                    error: function (xhr, status, error) {
                        alert('Upload failed');
                        // 업로드 실패시의 처리 로직을 여기에 작성
                    }
                });
            });
        });
    </script>

</head>

<body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h5 class="mt-10 text-center text-2xl font-semibold tracking-tight text-gray-700 font-custom">{id}님 반가워요!
            </h5>
            <h3 class="mt-2 text-center text-2xl font-semibold tracking-tight text-gray-700 font-custom">사진을 고르면 이야기를
                만들어드릴게요<br>🤭🥳</h3>
            <div class="flex justify-center items-center">
                <input type="file" id="fileInput" class="hidden" />
                <label for="fileInput">
                    <div class="w-24 h-24 rounded-full flex justify-center items-center cursor-pointer">
                        <div
                            class="circle my-10 flex justify-center bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            사진 올리기</div>
                    </div>
                </label>
            </div>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        {% for data in storyData %}
        <script>console.log(" {{data}} ")</script>    
        <div>
                <img src="data:image/png;base64,{{ data.img_src }}" alt="Uploaded Image">
                <p>{{ data.text }}</p>
            </div>
        {% endfor %}
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <div>
                <button type="submit"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">다른
                    이야기 보러가기</button>
            </div>
        </div>
    </div>
</body>

</html>