<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/constants.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favi.ico') }}">
    <title>{{ page_title }}</title>
</head>
<body>
    <a href="#" class="btn-3d green">뒤로가기</a>
    <div id="wrapper">
        {% for image in dummy %}
        <div class="card-container">
            <div class="items">                
                <img src="{{ image.img }}" alt="{{ image.alt }}" title="이미지를 클릭해보세요" class="open-modal" data-id="{{ image.id }}">
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="story_wrapper">
        {% for image in dummy %}
        <p class="story">{{ image.story }}</p>
      </div>
      {% endfor %}
      
    <!-- 모달 -->
    <div id="modal" class="modal hidden">
        <img id="modal-image" src="" alt="Modal Image">
        <p id="modal-story" class="story"></p>
        <button class="btn-3d green" id="close-modal" >닫기</button>
    </div>
    <script>
        const dummy = {{ dummy | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
