@import url("/w00_Back/static/css/constants.css"); 
.modal {
    position: absolute; /* 모달이 뷰포트 안에 있도록 함 */
    z-index: 999;
    width: 30%;
    height: 40%;

    overflow: visible;
}
#modal-image {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: var(--img-border) solid 1rem;
    border-radius: 2rem;
}
.modal::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
#modal-story {
    background: linear-gradient(to right, var(--background-color), var(--btn-color));
}